body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

h1{
    color: blue;
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: black;
    display: flex;
    justify-content: center;
    
    align-items: center;
    pointer-events: auto;
}

.top-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    gap: 20px;
    pointer-events: auto;

}

.top-nav a{
    color:#007bff;
    font-weight: bold;
}



.allow-scroll{
    overflow-y:auto !important;
    height: auto !important;
}

#WelcomeScreen{
    background-color: #CBC3E3;
    width: 100%;
    min-height:100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.StartButton{
    transform: translateY(10%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border:none;
    border-radius: 500px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: auto;

    transition: all 0.3s ease-in-out;
    
}

.StartButton:hover{
    transform: translateY(10%) scale(1.1);
    background-color: #007bff;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}

.button-containter{
    text-align: center;
}

.Credits{
    color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
}


#MainContent{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: white;
    z-index: 10;


    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.2s cubic-bezier(0.65,0,0.35,1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#MainContent.splash-reveal{
    display: flex;
    clip-path: circle(150% at 50% 50%);
}

.allow-scroll #MainContent{
    padding-top: 120px;
    position: relative;
    height: auto;
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 150px;
}


a{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: blue;
    padding: 8px 10px;
    z-index: 120;
   
    text-decoration: none;

}

a:before{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height:3px;
    background-color: blue;

    transition: width .5s;
}

a:hover:before{
    width: 100%;
}

#experience, #projects, #connect{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;

    margin-bottom: 100px;
    border-top: 1px solid #ddd;
    
}

html{
    scroll-behavior: smooth;
}

